services:
  speedtest-data-server:
    build: .
    container_name: speedtest-data-server
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
      - ./data:/app/data
